@model Musique.ViewModels.MusicDetailVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Music</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Music.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Price)
        </dd>
		<dt>
			@Html.DisplayNameFor(model => model.Music.Formats)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Music.Formats)
		</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Music.ID }) |
	@Html.ActionLink("AddToCart", "AddToCart", new { id = Model.Music.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
