@model Musique.ViewModels.MusicDetailVM

@{
    ViewBag.Title = "Details";
}

<h2>Details of @Model.Music.Title</h2>
<hr />

<div id="addedToCart">
</div>
<div id="removedFromCart">
</div>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Music.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Price)
        </dd>
		@*<dt>
			@Html.DisplayNameFor(model => model.Music.Formats)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Music.Formats)
		</dd>*@
    </dl>
    <p class="text-right">
        <a href="@Url.Action("Index", "Musics")" class="btn btn-warning">Back to list <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
        <a href="@Url.Action("Edit", "Musics", new { id = Model.Music.ID })" class="btn btn-primary">Edit <span class="glyphicon glyphicon-pencil"></span></a>
		<button id="removeFromCartBtn" type="button" class="btn btn-danger is-hidden" value="@Model.Music.ID">Remove from cart</button>
		<button id="addToCartBtn" type="button" class="btn btn-success" value="@Model.Music.ID">Add to cart</button>
    </p>
</div>

<script type="text/javascript" defer>
	$(document).ready(function () {
		$('#addToCartBtn').on('click', function () {
			var musicIDadd = $(this).val();
			$.ajax({
				method: "POST",
				url: "/Cart/AddToCart",
				data: { musicIDadd: musicIDadd }
			}).done(function (response) {
				$('#addedToCart').html(response);
				$('#addToCartBtn').addClass('is-hidden');
				$('#removeFromCartBtn').removeClass('is-hidden');
			});
		});
		$('#removeFromCartBtn').on('click', function () {
			var musicIDrm = $(this).val();
			$.ajax({
				method: "POST",
				url: "/Cart/Delete",
				data: { musicIDrm: musicIDrm }
			}).done(function (response) {
				$('#removedFromCart').html(response);
				$('#removeFromCartBtn').addClass('is-hidden');
				$('#addToCartBtn').removeClass('is-hidden');
			});
		});
	});
</script>

<div>
	@foreach (var comment in Model.Comments)
	{
		<head>
			<title>@Html.DisplayFor(modelComment => comment.UserName)</title>
		</head>
		<body>
			<p>@Html.DisplayFor(modelComment => comment.Rating)</p>
			<p>@Html.DisplayFor(modelComment => comment.Content)</p>
		</body>
	}
</div>