@model Musique.ViewModels.MusicDetailVM

@{
    ViewBag.Title = "Details";
}

<h2>Details of @Model.Music.Title</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Music.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Album)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Album)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Music.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Music.Price)
        </dd>
		<dt>
			@Html.DisplayNameFor(model => model.Music.Formats)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Music.Formats)
		</dd>
    </dl>
    <p class="text-right">
        <a href="@Url.Action("Index", "Musics")" class="btn btn-warning">Back to list <span class="glyphicon glyphicon-circle-arrow-left"></span></a>
        <a href="@Url.Action("Edit", "Musics", new { id = Model.Music.ID })" class="btn btn-primary">Edit <span class="glyphicon glyphicon-pencil"></span></a>
        <!--<a href="@Url.Action("AddToCart", "Musics", new { id = Model.Music.ID })" class="btn btn-success">Add to cart <span class="glyphicon glyphicon-plus-sign"></span></a>-->
    </p>
</div>
