@model /*IEnumerable<MvcMovie2.Models.Movie>*/Musique.ViewModels.MusicsResponseVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Model.FilteredMusicsCounter found / @Model.MusicsCounter movies
</p>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Musics", FormMethod.Get))
{
	<p>
		Genre: @Html.DropDownList("MusicGenre", new SelectList(Model.MusicGenres), "All") <br />
		Title: @Html.TextBox("MusicTitle") <br />
		Artist: @Html.TextBox("MusicArtist") <br />
		Album: @Html.TextBox("MusicAlbum") <br />
		Formats: @Html.ListBox("MusicFormatsResearch", new SelectList(Model.MusicFormats)) <br />
		<input type="submit" value="Filter" />
		<div class="form-group"><input type="text" class="form-control" /></div>
	</p>
}

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            ReleaseDate
        </th>
        <th>
            Artist
        </th>
        <th>
            Album
        </th>
        <th>
            Genre
        </th>
        <th>
            Price
        </th>
		<th>
			Formats
		</th>
        <th></th>
    </tr>

@foreach (var item in Model.Musics) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.Formats)
		</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
