@model Musique.ViewModels.MusicsResponseVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="addedToCart">
</div>
<div id="deleted">
</div>

@*<p>
	@Model.FilteredMusicsCounter found / @Model.MusicsCounter musics
</p>*@
<p>
	@Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Artist
        </th>
        <th>
            Album
        </th>
		<th>
			ReleaseDate
		</th>
        <th>
            Genre
        </th>
		<th>
			Formats
		</th>
        <th>
            Price
        </th>
        <th></th>
    </tr>
@using (Html.BeginForm("Index", "Musics", FormMethod.Get))
{
	<tr >
		<td>
			@Html.TextBox("MusicTitle", null, new { placeHolder = "Title", @class = "form-control" })
		</td>
		<td>
			@Html.TextBox("MusicArtist", null, new { placeHolder = "Artist", @class = "form-control" })
		</td>
		<td>
			@Html.TextBox("MusicAlbum", null, new { placeHolder = "Album", @class = "form-control" })
		</td>
		<td>
			@Html.TextBox("MusicReleaseDate", null, new { placeHolder = "Release Date", @class = "form-control" })
		</td>
		<td>
			@Html.DropDownList("MusicGenre", new SelectList(Model.MusicGenres), "All", new { @class = "form-control" })
		</td>
		<td>
			@Html.ListBox("MusicFormatsResearch", new SelectList(Model.MusicFormats), new { @class = "form-control" })
		</td>
		<td>
			@Html.TextBox("MusicPrice", null, new { placeHolder = "Price", @class = "form-control" })
		</td>
		<td>
			<input type="submit" class="btn btn-primary" value="Filter" />
		</td>
	</tr>
}

@foreach (var item in Model.Musics) {
    <tr id="@item.ID">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.ReleaseDate)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.Formats)
		</td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
			<a href="#" data-toggle="modal" data-target="#modaldelete@(item.ID)">Delete</a>
			<div id="modaldelete@(item.ID)" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Are you sure you want to delete this track ?</h4>
						</div>
						<div class="modal-body">
							<dl class="dl-horizontal">
								<dt>@Html.DisplayNameFor(model => item.Title)</dt>

								<dd>@Html.DisplayFor(model => item.Title)</dd>

								<dt>@Html.DisplayNameFor(model => item.Artist)</dt>

								<dd>@Html.DisplayFor(model => item.Artist)</dd>

								<dt>@Html.DisplayNameFor(model => item.Price)</dt>

								<dd>@Html.DisplayFor(model => item.Price)</dd>

							</dl>
						</div>
						<div class="modal-footer">
							<button type="button" class="delete btn btn-danger" value="@item.ID">Delete</button>
							<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div> @*|
			<a href="#" data-toggle="modal" data-target="#modaladd@(item.ID)">Add to cart</a>
			<div id="modaladd@(item.ID)" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Do you want to add this track to your cart ?</h4>
						</div>
						<div class="modal-body">
							<dl class="dl-horizontal">
								<dt>@Html.DisplayNameFor(model => item.Title)</dt>

								<dd>@Html.DisplayFor(model => item.Title)</dd>

								<dt>@Html.DisplayNameFor(model => item.Artist)</dt>

								<dd>@Html.DisplayFor(model => item.Artist)</dd>

								<dt>@Html.DisplayNameFor(model => item.Price)</dt>

								<dd>@Html.DisplayFor(model => item.Price)</dd>

							</dl>						
						</div>
						<div class="modal-footer">
							<button type="button" class="addToCart btn btn-primary" value="@item.ID">Add to cart</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>*@        
		</td>
    </tr>
}

</table>

@*<script type="text/javascript" defer>
	$(document).ready(function () {
		$('button.addToCart').on('click', function () {
			var musicIDadd = $(this).val();
			$.ajax({
				method: "POST",
				url: "/Musics/AddToCart",
				data: { musicIDadd: musicIDadd }
			}).done(function (response) {
				$('#addedToCart').html(response);
				$('#modaladd' + musicIDadd).modal('hide');
			});
		});
	});
</script>*@

<script type="text/javascript" defer>
	$(document).ready(function () {
		$('button.delete').on('click', function () {
			var musicID2 = $(this).val();
			$.ajax({
				method: "POST",
				url: "/Musics/Delete",
				data: { musicID2: musicID2 }
			}).done(function (response) {
				$('#deleted').html(response);
				$('#modaldelete' + musicID2).modal('hide');
				$('#' + musicID2).addClass('hidden');
			});
		});
	});
</script>